version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "12:00"
      timezone: "Europe/Zurich"
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "12:00"
      timezone: "Europe/Zurich"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: django
        versions:
          - ">=5"
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "12:00"
      timezone: "Europe/Zurich"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: python
        versions:
          - ">3.12"
