[run]
source=.

[report]
fail_under=100

exclude_lines =
    pragma: no cover
    pragma: todo cover
    def __str__
    def __unicode__
    def __repr__

omit=
    */migrations/*
    */apps.py
    manage.py
    setup.py
    caluma/settings_*.py
    caluma/wsgi.py

show_missing = True
