Adrian Wittwer <adrian.wittwer@adfinis-sygroup.ch> <kaldras@users.noreply.github.com>
Christian Zosel <christian.zosel@adfinis-sygroup.ch> <christian@zosel.ch>
Christian Zosel <christian.zosel@adfinis-sygroup.ch> <chrzosel@gmail.com>
David Vogt <david.vogt@adfinis.com> <david.vogt@adfinis-sygroup.ch>
David Vogt <david.vogt@adfinis.com> <dave@winged.ch>
Fabio Ambauen <fabio.ambauen@adfinis-sygroup.ch> <1833932+open-dynaMIX@users.noreply.github.com>
Fabio Ambauen <fabio.ambauen@adfinis-sygroup.ch> <fabio.ambauen@adfinis-sygroup.ch>
Fabio Ambauen <fabio.ambauen@adfinis-sygroup.ch> <fabio.raemi@adfinis-sygroup.ch>
Fabio Ambauen <fabio.ambauen@adfinis-sygroup.ch> <open-dynaMIX@users.noreply.github.com>
Jean-Louis Fuchs <jean-louis.fuchs@adfinis-sygroup.ch> <ganwell@fangorn.ch>
Jonas Metzener <jonas.metzener@adfinis.com> <jonas.metzener@adfinis-sygroup.ch>
Jonas Metzener <jonas.metzener@adfinis.com> <jonasmetzener@gmail.com>
Oliver Sauder <oliver.sauder@adfinis-sygroup.ch> <os@esite.ch>
Oliver Sauder <oliver.sauder@adfinis-sygroup.ch> <sliverc@users.noreply.github.com>
Renovate Bot <bot@renovateapp.com> <29139614+renovate[bot]@users.noreply.github.com>
Renovate Bot <bot@renovateapp.com> <renovate[bot]@users.noreply.github.com>
Stefan Borer <stefan.borer@adfinis.com> <stefan.borer@adfinis-sygroup.ch>
Yelin Zhang <yelin.zhang@adfinis-sygroup.ch> <30687616+Yelinz@users.noreply.github.com>
Yelin Zhang <yelin.zhang@adfinis-sygroup.ch> <yelin.zhang@adfinis-sygroup.ch>
