version: '3'
services:
  db:
    image: postgres:9.4
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=caluma
      - POSTGRES_PASSWORD=caluma
  caluma:
    build: .
    ports:
      - '8000:80'
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - ENV=docker
