version: "3.4"
services:
  db:
    environment:
      - POSTGRES_PASSWORD=caluma
    ports:
      - "${PG_PORT:-5432}:5432"
  caluma:
    build:
      context: .
      args:
        REQUIREMENTS: requirements-dev.txt
    user: "${UID:?Set UID env variable to your user id}"
    volumes:
      - ./:/app
    command:
      [
        "/bin/sh",
        "-c",
        "wait-for-it.sh db:5432 -- ./manage.py migrate && ./manage.py runserver 0.0.0.0:8000",
      ]
    environment:
      - ENV=dev
