# When adding new dependencies here, also add them to the renovate.json to
# enable auto-merge

-r requirements.txt
black==19.3b0
factory-boy==2.12.0
faker==2.0.5
flake8==3.7.9
flake8-bugbear==19.8.0
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-isort==2.8.0
flake8-string-format==0.2.3
flake8-tuple==0.4.1
isort==4.3.21
pydocstyle==5.0.1
pytest==5.3.1
pytest-cov==2.8.1
pytest-django==3.7.0
pytest-env==0.6.2
pytest-factoryboy==2.0.3
pytest-mock==1.13.0
pytest-randomly==3.1.0
pytest-xdist==1.30.0
python-semantic-release==4.3.3
requests-mock==1.7.0
snapshottest==0.5.1
fsfe-reuse==1.0.0
