# When adding new dependencies here, also add them to the renovate.json to
# enable auto-merge

black==21.12b0
factory-boy==3.2.1
faker==11.3.0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-isort==4.1.1
flake8-string-format==0.3.0
flake8-tuple==0.4.1
gitlint==0.17.0
isort==5.10.1
pdbpp==0.10.3
pre-commit==2.17.0
pydocstyle==6.1.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-env==0.6.2
pytest-factoryboy==2.1.0
pytest-mock==3.6.1
pytest-randomly==3.11.0
pytest-xdist==2.5.0
python-semantic-release==7.23.0
requests-mock==1.9.3
reuse==0.14.0
syrupy==1.7.0
