dateparser==0.7.4
django==2.2.11
django-cors-headers==3.2.1
django-environ==0.4.5
django-extensions==2.2.8
django-filter==2.2.0
django-localized-fields==5.4.2
django-postgres-extra==1.22
djangorestframework==3.11.0
django_simple_history==2.8.0
graphene==2.1.8
graphene-django==2.8.2
graphql-core==2.2.1
graphql-relay==2.0.1
idna==2.9
minio==5.0.8
psycopg2-binary==2.8.4
pyjexl==0.2.3
python-memcached==1.59
requests==2.23.0
urllib3==1.25.8
uwsgi==2.0.18
