on:
  workflow_call:
    inputs:
      postgres:
        required: true
        type: string

jobs:
  compatibility-tests:
    name: Postgres ${{ inputs.postgres }}, Python ${{ matrix.python }}
    runs-on: ubuntu-latest

    env:
      ENV: dev

    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13"]

    services:
      postgres:
        image: postgres:${{ inputs.postgres }}-alpine
        env:
          POSTGRES_USER: caluma
          POSTGRES_PASSWORD: caluma
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v5

      - name: Install poetry
        run: pipx install poetry

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python}}
          cache: "poetry"

      - name: Set UID
        run: echo "UID=$(id --user)" > .env

      - name: Install dependencies
        run: poetry install

      - name: Run tests
        run: poetry run pytest --no-cov-on-fail --cov --create-db -vv
